{% extends "digital-land-frontend/dlf-base.html" %}

{%- block beforeContent -%}
{{ super() }}

{{- govukBreadcrumbs({
    "items": [
        {
        "text": "Digital Land",
        "href": "/"
        },
        {
        "text": "Resources"
        }
    ]
    }) -}}
{%- endblock -%}

{% block content %}

<span class="govuk-caption-xl">Developer contributions</span>
<h1 class="govuk-heading-xl">Purpose IDs</h1>

<p class="govuk-body">From one of the lists below, choose the most relevant primary purpose for the contribution. Copy
    and paste the ID from the below ID column, into your CSV file. </p>

<p class="govuk-body">If you have questions about which purpose best applies to the contribution, please email <a
        href="mailto:CIL@communities.gov.uk">CIL@communities.gov.uk</a>.</p>

<p class="govuk-inset-text">This list will be kept up to date by the Ministry of Housing, Communities and Local
    Government.
</p>

<h2 class="govuk-heading-l">Community Infrastructure Levy (CIL)</h2>

<table class="govuk-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Intended purpose</th>
            <th scope="col" class="govuk-table__header">ID</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for i in data %}
        {%- if i['end-date'] is none or i['end-date'] == "" %}
        {%- if "community infrastructure levy" in i['name']|lower or "CIL" in i['name'] -%}
        <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">{{ i['name'] }}</td>
            <td class="govuk-table__cell">{{ i['developer-contribution-purpose'] }}</td>
        </tr>
        {%- endif -%}
        {% endif -%}
        {% endfor %}
    </tbody>
</table>



<h2 class="govuk-heading-l">Section 106</h2>

<table class="govuk-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Intended purpose</th>
            <th scope="col" class="govuk-table__header">ID</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        {% for i in data %}
        {% if i['end-date'] is none or i['end-date'] == "" %}
        {%- if "community infrastructure levy" not in i['name']|string|lower and "CIL" not in i['name'] -%}
        <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">{{ i['name'] }}</td>
            <td class="govuk-table__cell">{{ i['developer-contribution-purpose'] }}</td>
        </tr>
        {%- endif -%}
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block footer %}
<div class="dlf-pg-feedback">
    <div class="dlf-pg-feedback__prompt">
        Help us improve this page by <a
            href="mailto:DigitalLand@communities.gov.uk?subject=Digital land feedback (Page: Developer%20contributions purpose ids)"
            class="dlf-pg-feedback__link">sharing any feedback</a> with us.
    </div>
</div>
{{ super() }}
{% endblock %}